meta(property="fb:admins", content="722585203")
meta(property="fb:app_id", content="#{config.fbappid}")
meta(property="og:type", content="website")
if typeof url == 'undefined'
  meta(property="og:url", content="[TODO: url]")
else
  meta(property="og:url", content="#{url}")
meta(property="og:title", content="[TODO: title]")
meta(property="og:description", content="[TODO: description]")
meta(property="og:image", content="[TODO: image]")