meta(property="fb:admins", content="722585203")
meta(property="fb:app_id", content="#{config.fbappid}")
meta(property="og:type", content="website")
meta(property="og:url", content="#{config.domain}")
meta(property="og:title", content="[TODO: title]")
meta(property="og:description", content="[TODO: description]")
meta(property="og:image", content="[TODO: image]")