ul#myTab.nav.nav-tabs
    li.active
        a(href='#home', data-toggle='tab') Home
      li
        a(href='#profile', data-toggle='tab') Profile
      li
        a(href='#messages', data-toggle='tab') Messages
      li
        a(href='#settings', data-toggle='tab') Settings
    .tab-content
      #home.tab-pane.active ... 1
      #profile.tab-pane ...2
      #messages.tab-pane ...3
      #settings.tab-pane ...4


.btn-group(data-toggle='buttons')
    label.btn.btn-primary
        input#option1(type='radio', name='options')
        | Option 1
      label.btn.btn-primary
        input#option2(type='radio', name='options')
        | Option 2
      label.btn.btn-primary
        input#option3(type='radio', name='options')
        | Option 3
