extends layouts/default

block content
  #fb-root
   

  .site-wrapper
    .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand NITRAM.js
              ul.nav.masthead-nav
                li.li-home
                  a(href='/', data-xhr='1') Home
                li.li-feat
                  a(href='/features', data-xhr='1') Features
                li.li-contact
                  a(href='/contact', data-xhr='1') Contact
                li.li-hello
                  a(href='/helloworld', data-xhr='1') hello world
          #mainView.inner.cover
            





