extends layouts/default

block content
  #fb-root
   

  .site-wrapper
    .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand NITRAM.js
              ul.nav.masthead-nav
                li.li-home
                  a(href='/', data-xhr='1') Home
                li.li-feat
                  a(href='/features', data-xhr='1') Features
                li.li-contact
                  a(href='/contact', data-xhr='1') Contact
                li.li-hello
                  a(href='/helloworld/', data-xhr='1') hello world
          #mainView.inner.cover
          #false
            ul#myTab.nav.nav-tabs
              li
                  a( href='/helloworld/1', data-xhr='1', data-toggle='tab') Home
              li
                a( href='/helloworld/2', data-xhr='1', data-toggle='tab') Profile
              li
                a( href='/helloworld/3', data-xhr='1', data-toggle='tab') Messages
              li
                a( href='/helloworld/4', data-xhr='1', data-toggle='tab') Settings
            .tab-content
              #home.tab-pane ... 1
              #profile.tab-pane ...2
              #messages.tab-pane ...3
              #settings.tab-pane ...4
              





